.tile.tile-2 .tile-inner {
  background: url('../images/stars/star1.png') no-repeat center center;
  background-size: contain;
}

.tile.tile-4 .tile-inner {
  background: url('../images/stars/star2.png') no-repeat center center;
  background-size: contain;
}

.tile.tile-8 .tile-inner {
  background: url('../images/stars/star3.png') no-repeat center center;
  background-size: contain;
}

.tile.tile-16 .tile-inner {
  background: url('../images/stars/star4.png') no-repeat center center;
  background-size: contain;
}

.tile.tile-32 .tile-inner {
  background: url('../images/stars/star5.png') no-repeat center center;
  background-size: contain;
}

.tile.tile-64 .tile-inner {
  background: url('../images/stars/star6.png') no-repeat center center;
  background-size: contain;
}

.tile.tile-128 .tile-inner {
  background: url('../images/stars/star7.png') no-repeat center center;
  background-size: contain;
}

.tile.tile-256 .tile-inner {
  background: url('../images/stars/star8.png') no-repeat center center;
  background-size: contain;
}

.tile.tile-512 .tile-inner {
  background: url('../images/stars/star9.png') no-repeat center center;
  background-size: contain;
}

.tile.tile-1024 .tile-inner {
  background: url('../images/stars/star10.png') no-repeat center center;
  background-size: contain;
}

.tile.tile-2048 .tile-inner {
  background: url('../images/stars/star11.png') no-repeat center center;
  background-size: contain;
}

.tile.tile-super .tile-inner {
  background: url('../images/stars/star12.png') no-repeat center center;
  background-size: contain;
}

/* 隐藏数字 */
.tile-inner {
  color: transparent;
} 